<div class="container mt-5">
    <h2 class="mb-4 text-center">My Events</h2>
    <div *ngIf="events.length === 0" class="text-center">
      <p>No events found.</p>
    </div>
    <div class="row">
      <div *ngFor="let event of events" class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" [src]="event.photo" alt="Event photo">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-subtitle mb-2 text-muted">{{ event.description }}</p>
            <p class="card-text"><strong>Date:</strong> {{ event.date }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ event.price }}</p>
            <p class="card-text"><strong>Capacity:</strong> {{ event.capacity }}</p>
            <p class="card-text"><strong>Contact:</strong> {{ event.email }}</p>
            <button class="btn btn-primary mt-3" (click)="viewOrders(event.id)">View Orders</button>

          </div>
        </div>
      </div>
    </div>
  </div>
  