<app-navbar></app-navbar>

<div class="container mt-5">
  <h2 class="mb-4 text-center">My Events</h2>
  <div *ngIf="loadingfetch" class="loader"></div>
  
  <div *ngIf="events.length === 0" class="text-center">
    <p>No events found.</p>
  </div>
  <div class="row">
    <div *ngFor="let event of events" class="col-md-12 mb-4">
      <div class="order-item d-flex align-items-center justify-content-between" style="background: #f5f9fe;">
        <div class="order-info d-flex align-items-center">
          <img class="order-image" [src]="event.photo" alt="Event photo">
          <div class="order-details">
            <h5 class="order-title">{{ event.name }}</h5>
            <p class="order-description">{{ event.description }}</p>
            <p class="order-date"><strong>Date:</strong> {{ event.date | date }}</p>
            <p class="order-price"><strong>Price:</strong> ${{ event.price }}</p>
            <p class="order-capacity"><strong>Capacity:</strong> {{ event.capacity }}</p>
            <p class="order-contact"><strong>Contact:</strong> {{ event.email }}</p>
          </div>
        </div>
        <div class="order-actions">
          <button class="btn btn-primary" (click)="viewOrders(event.id)">View Orders</button>
        </div>
      </div>
    </div>
  </div>
</div>
