.order-item {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .order-info {
    flex: 1;
  }
  
  .order-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .order-details {
    flex: 1;
  }
  
  .order-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .order-description {
    font-size: 1em;
    color: #777;
    margin-bottom: 10px;
  }
  
  .order-date, .order-price, .order-capacity, .order-contact {
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .order-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  .edit-form {
    background: #e9f5ff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  
  .form-row > .col-md-6 {
    padding-right: 5px;
    padding-left: 5px;
  }



  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #90dcfc;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #248cee, #3684d8, #3641dd, #20058d);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #248cee, #3684d8, #3641dd, #20058d);
  }