<nav class="navbar navbar-expand-lg shadow-5-strong sticky-top">
  <div class="container">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex flex-row mt-3 mt-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/home">
            <div>
              <i class="bi bi-house"></i>
            </div>
            Home
          </a>
        </li>


        <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="userRole === 'event_creator'">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/add-event">
            <div>
              <i class="bi bi-plus-square"></i>
            </div>
            Add Events
          </a>
        </li>

        



        <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="userRole === 'event_creator'">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/my-events">
            <div>
              <i class="bi bi-calendar4-event"></i>
            </div>
            My Events
          </a>
        </li>

        <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="userRole === 'participant'">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/my-orders">
            <div>
              <i class="bi bi-cart4"></i>
            </div>
            My Orders
          </a>
        </li>
        <li class="nav-item text-center mx-2 mx-lg-1" *ngIf="userRole === 'participant'">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/orders">
            <div>
              <i class="bi bi-calendar4-event"></i>
            </div>
            Events
          </a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item text-center mx-2 mx-lg-1">
          <a class="nav-link active custom-color" aria-current="page" routerLink="/login">
            <div>
              <i class="bi bi-box-arrow-right"></i>
            </div>
            Logout
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle" height="40" alt="" loading="lazy" />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><p class="dropdown-item custom-color">Email: {{ userEmail }}</p></li>
            <li><p class="dropdown-item custom-color">Role: {{ userRole }}</p></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
