<div class="container mt-5">
    <h2>Create New Event</h2>
    <form (ngSubmit)="onSubmit()" #eventForm="ngForm">
      <div class="form-group">
        <label for="name">Event Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="event.name" name="name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" required [(ngModel)]="event.description" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control" id="photo" (change)="onFileChange($event)">
      </div>
      <div class="form-group">
        <label for="date">Event Date</label>
        <input type="date" class="form-control" id="date" required [(ngModel)]="event.date" name="date">
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" required [(ngModel)]="event.price" name="price">
      </div>
      <div class="form-group">
        <label for="capacity">Capacity</label>
        <input type="number" class="form-control" id="capacity" required [(ngModel)]="event.capacity" name="capacity">
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
  </div>
  