.gradient-custom-2 {
  /* fallback for old browsers */
  background: #90dcfc;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #248cee, #3684d8, #3641dd, #20058d);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #248cee, #3684d8, #3641dd, #20058d);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100% !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
