.order-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.order-info {
  flex: 1;
}

.order-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.order-details {
  flex: 1;
}

.order-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.order-description {
  font-size: 1em;
  color: #777;
  margin-bottom: 10px;
}

.order-date, .order-price, .order-quantity, .order-contact {
  font-size: 1em;
  margin-bottom: 5px;
}

.order-actions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert-warning {
  color: #023e8a;
  background-color: #e6f7fa;
  border-color: #caf0f8;
  border-radius: 5px;
  padding: 10px;
}


.d-flex .form-control {
  width: auto;

}

.d-flex .btn {
  white-space: nowrap;
  border-color: #3498db;
}

